body {
  font-family: 'Montserrat', sans-serif;
}

p {
  margin: 0;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 94vw;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.grid-item {
  position: relative;
  text-align: center;
  font-size: 60px;
  font-weight: 800;
}

.axis {
  font-family: Roboto Mono;
  font-size: 20px;
  font-weight: 200;
}


/*---*/


#glCanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
